.room{
    --b-radius: 10px;

    margin: 5% auto;
    width: 500px;
    height: 800px;    
    background: #dad8d8;
    border-radius: var(--b-radius);
    position: relative;
    box-shadow: 0 0 10px 3px #e4e4e4;
}
/* .room::after{
    content: '';
    position: absolute;
    background: #fff;
    border-radius: var(--b-radius);
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.send{
    position: absolute;
    bottom: calc(5% / 2);
    left: calc(5% / 2);
    width: calc(100% - 5%);
    height: 100px;
    background: #ffffff;
    border-radius: 0 0 var(--b-radius)  var(--b-radius);

}

.send-btn{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
    background: #dad8d8;
    border: 3px solid #a8a8a8;
    color: #a8a8a8;
    font-size: 30px;
    border-radius: var(--b-radius);
}