/* modal - close button  */
.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.close-button span {
  background: #999;
  position: absolute;
  border-radius: 3px;
  width: 100%;
  height: 3px;
}

.close-button > span:first-child {
  transform: translateY(15px) rotate(45deg);
}
.close-button > span:last-child {
  transform: translateY(15px) rotate(-45deg);
}

/* pagination  */
.pagination {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.pagination > a {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
  text-indent: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  font-variant-numeric: tabular-nums;
}

.pagination > a:hover {
  border-color: #444;
}

.pagination > .selected {
  font-weight: 700;
}

/* popup */
.popup {
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.popup-back {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.4;
}

.popup-container {
  position: absolute;
  background: #fff;
  border-radius: 5px;
}
