@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 3px 5px;
  border: 2px solid #999999;
  background: #c0c0c0;
}

input {
  border: 1px solid #000;
}
